/* General */
body {
    color: rgb(66, 66, 66); 
    font-family: "Gill Sans";
    font-weight: lighter; 
    word-spacing: 1.5px;
    letter-spacing: .5px;
    line-height: 150%;
    font-size: 15px;
}

img {
    max-height: 100%;
    max-width: 100%; 
}

h1{
    color: rgb(66, 66, 66);
    text-align: center; 
    margin-top: 120px;
    margin-bottom: 100px;
    font-family: "Gill Sans"; 
    font-size: 25px;
    letter-spacing: 1.5px;
    font-weight: normal; 
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

h2 {
    margin-top: 40px;
    font-size: 18px;
    font-weight: normal;
    font-style: italic; 
}

#title {
    color: rgb(157, 162, 235);
}



/* Top Row */
header {
    margin-bottom: 50px;
}

#title {
    display: flex;
}

#top_row {
    margin-left: 10%;
    margin-right: 10%; 
    margin-top: 50px;
    margin-bottom: 50px;
}

#top_row nav {
    float: right; 
}

#top_row nav a.selected {
    color: rgb(157, 162, 235);
}

#top_row nav a {
    color: rgb(66, 66, 66, .5);  
    text-decoration: none;
    font-family: "Gill Sans", sans-serif; 
    font-weight: normal;
    padding: 5px 25px;
    letter-spacing: 1.5px;
}

#top_row nav a:hover {
    color: rgb(157, 162, 235);
} 


/* Index page */
#introduction {
    width: 50%;
    padding: 2% 0;
}

#introduction h2 {
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
}


#work {
	padding: 20px 0px;
	background-color: rgb(250, 250, 250); 
}

#work a {
    text-decoration: none; 
    color: rgb(66, 66, 66); 
}

.card-title {
    font-weight: normal; 
    font-size: 18px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(0,0,0,0.2); 
}
.card-deck {
    margin: 5% 10%;
}

/* Projects */
.project-container {
    width: 55%; 
    margin: auto;
}

.project-container a {
    color: rgb(157, 162, 235);
    text-decoration: none;
}

.project-container img {
    padding-bottom: 5%;
}

.project-section {
    margin: 80px 0px;
}

.project-section ul {
    margin-bottom: 25px;
}

/* About */
#about-container {
    display: flex;
    width: 74%; 
    margin: auto;
}

#about-text {
    padding: 30px; 
    flex: 50%;
}

#about-me {
    padding: 30px;
    flex: 50%;
}

#about-text a{
    color: rgb(157, 162, 235);
    text-decoration: none;
}

#about-container a{
    text-decoration: none;
}

/* Footer */
footer {
    text-align: center; 
    padding: 50px;
}

@media only screen and (max-width: 768px) {
    .project-container {
        width: 80%;
    }

    .card-deck {
        display: flex;
        flex-direction:column;
      }

    .card {
        margin: 10%;
    }

    #about-container {
        display: flex;
        flex-direction: column;
    }
}
