*
{
	margin: 0;
	padding: 0;
}

header
{
	margin-left: 10%;
	margin-right: 10%;
}

.main-bar
{
	float: right;
	list-style: none;
	margin-top: 50px;
	margin-right: 50px;
}

.logo
{
	width: 70px;
	height: 70px;
	margin: 50px;
}

.main-bar li
{
	display: inline-block;
}

.main-bar li a
{
	color: rgb(157, 162, 235);
	text-decoration: none;
	padding: 5px 10px;
	font-family: "Gill Sans", sans-serif;
	font-size: 15px;
	letter-spacing: 1.5px;
}

<!--come back to this--> 
.main-bar li.active a 
{
	border: 1px solid black;
}

.main-bar li a:hover
{
	background-color: rgb(157, 162, 235, 0.8);
	color: rgb(255, 255, 255);
}

.title
{
	margin-left: 50px;
	width: 40%;
}

h1
{
	color: rgb(157, 162, 235, 0.8);
	font-family: "Gill Sans";
	font-size: 30px;
	letter-spacing: 1.5px;
	word-spacing: 2px;
	padding: 5px 10px;
	font-weight: lighter;
}

span.h1-alt
{
	color: rgb(255, 255, 255);
	background-color: rgb(157, 162, 235, 0.8);
	font-size: 30px;
	letter-spacing: 1.5px;
	word-spacing: 2px;
	padding: 5px 10px;
}

p
{
	color: rgb(66, 66, 66);
	font-family: "Gill Sans";
	word-spacing: 1.5px;
}

.about
{
	margin: 50px 150px;
}

.work
{
	padding: 20px 0px;
	background-color: rgb(250, 250, 250); 
}

.project_container
{
	height: 260px;
	margin: 50px 10%;
	padding: 0px 50px;
	display: flex;
}

.project_main:hover
{
	border-left: solid rgb(157, 162, 235, 0.7) 4px;
}

.project_info
{
	flex: 30%;
	padding-right: 20px;
	padding-top: 10px;
	font-family: "Gill Sans";
	font-weight: lighter;
	font-style: italic;
}

.project_main
{
	display: flex;
	background-color: rgb(255, 255, 255);
	transition: border-left .5s;
	flex: 70%;
}

.project_link
{
	display: flex;
	flex: 70%;
}

.info_right
{
	text-align: right;
	color: rgb(66, 66, 66);
	font-family: "Gill Sans";
	font-size: 15px;
	word-spacing: 1.5px;
	letter-spacing: .5px;
	line-height: 140%; 
	font-weight: lighter;

}

.description
{
	margin-left: 30px;
}

h2
{
	color: rgb(157, 162, 235, 0.8);
	font-family: "Gill Sans";
	font-size: 20px;
	letter-spacing: 1.5px;
	word-spacing: 2px;
	padding: 5px 10px;
	font-weight: lighter;
}

.break
{
	height: 75px;
}

.project_about
{
	width: auto;
	margin: 20px 200px;
	display: flex;
}

.column
{
	flex: 50%; 
	padding-right: 50px;
	margin-left: 5%;
}

.project_title
{
	color: rgb(66, 66, 66);
	text-decoration: none;
	padding: 30px 10px;
	font-family: "Gill Sans", sans-serif;
	font-size: 25px;
	letter-spacing: 1.5px;
	text-align: center;
}

footer
{
	margin: 20px;
	text-align: center;
	font-family: "Gill Sans";
	color: rgb(66, 66, 66); 
}

img
{
	max-width: 100%;
	max-height: 100%; 
}

.project_subsection
{
	margin: 100px 350px;
	width: auto;
}

.project_subtitle
{
	color: rgb(66, 66, 66);
	font-family: "Gill Sans";
	font-size: 18px;
	line-height: 200%;
}

.subtitle_italic
{
	color: rgb(66,66,66);
	font-family: "Gill Sans";
	font-size: 15px;
	line-height: 200%;
	font-style: italic;
	padding-top: 10px;
	letter-spacing: .5px;
	word-spacing: 1.5px;
	font-weight: lighter;
}

.project_text
{
	color: rgb(66, 66, 66);
	font-family: "Gill Sans";
	font-size: 15px;
	word-spacing: 1.5px;
	letter-spacing: .5px;
	line-height: 150%; 
	font-weight: lighter;
}

.project_list
{
	margin-left: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.project_list li
{
	color: rgb(66, 66, 66);
	font-family: "Gill Sans";
	font-size: 15px;
	word-spacing: 1.5px;
	letter-spacing: .5px;
	line-height: 150%; 
	font-weight: lighter;
	padding-bottom: 15px;
}

.career_img
{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 25px;
	padding-top: 15px;
	width: 70%;
}

.purple_border
{
	margin-left: 75px;
	border-left: solid rgb(157, 162, 235, 0.8) 2px;
}

.purple_border_list
{
	list-style: none;
	padding-left: 30px;
	padding-right: 100px;
}

.purple_border_list li
{
	color: rgb(66, 66, 66);
	font-family: "Gill Sans";
	font-size: 15px;
	word-spacing: 1.5px;
	letter-spacing: .5px;
	line-height: 150%; 
	font-weight: lighter;
}

.persona_img
{
	margin: 50px;
	width: 75%;
}

.project_column
{
	flex: 50%;
	margin: 3%;
}

.project_img
{
	background-size: cover;
	width: 500px;
	height: 500px;
	object-fit: scale-down;
}

.community_img
{
	max-width: auto;
	max-height: auto;
	padding: 35px 0px;
}

a
{
	color: rgb(157, 162, 235);
	text-decoration: none;
}

a:hover
{
	
}

.about
{
	margin: 10%;
	display: flex;
}

.intro_img
{
	margin-left: auto;
	margin-right: auto;
	display: block;
}